
<tr>
  <td>Speed</td>
  <td class="value">{{speed}}</td>
  <td>
    <div class="indicator">
      <div class="steps">
        <div class="step"></div>
        <div class="step"></div>
        <div class="step"></div>
        <div class="step"></div>
        <div class="step"></div>
        <div class="step"></div>
      </div>
      <div class="bar speed"></div>
    </div>
  </td>
</tr>
<tr>
  <td>Acceleration</td>
  <td class="value">{{acceleration}}</td>
  <td>
    <div class="indicator">
      <div class="steps">
        <div class="step"></div>
        <div class="step"></div>
        <div class="step"></div>
        <div class="step"></div>
        <div class="step"></div>
        <div class="step"></div>
      </div>
      <div class="bar acceleration"></div>
    </div>
  </td>
</tr>
<tr>
  <td>Weight</td>
  <td class="value">{{weight}}</td>
  <td>
    <div class="indicator">
      <div class="steps">
        <div class="step"></div>
        <div class="step"></div>
        <div class="step"></div>
        <div class="step"></div>
        <div class="step"></div>
        <div class="step"></div>
      </div>
      <div class="bar weight"></div>
    </div>
  </td>
</tr>
<tr>
  <td>Handling</td>
  <td class="value">{{handling}}</td>
  <td>
    <div class="indicator">
      <div class="steps">
        <div class="step"></div>
        <div class="step"></div>
        <div class="step"></div>
        <div class="step"></div>
        <div class="step"></div>
        <div class="step"></div>
      </div>
      <div class="bar handling"></div>
    </div>
  </td>
</tr>
<tr>
  <td>Traction</td>
  <td class="value">{{traction}}</td>
  <td>
    <div class="indicator">
      <div class="steps">
        <div class="step"></div>
        <div class="step"></div>
        <div class="step"></div>
        <div class="step"></div>
        <div class="step"></div>
        <div class="step"></div>
      </div>
      <div class="bar traction"></div>
    </div>
  </td>
</tr>